# # version: "3.8"

# services:
#   app:
#     build: .
#     ports:
#       - "8000:8000"
#     env_file:
#       - .env
#     environment:
#       MONGO_URI: mongodb://mongo:27017/dynamic_form_builder_app_db
#     depends_on:
#       - mongo

#   mongo:
#     image: mongo:6
#     restart: always
#     ports:
#       - "27017:27017"
#     volumes:
#       - mongo_data:/data/db

# volumes:
#   mongo_data:


version: "3.8"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      MONGO_URI: mongodb://mongo:27017/dynamic_form_builder_app_db
    depends_on:
      mongo:
        condition: service_healthy

  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 8

volumes:
  mongo_data:
